<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>妖怪的尼伯龙根</title>
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">-->
<!--    <link rel="stylesheet" href="../static/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="../static/css/community.css">-->
<!--    <script src="static/js/bootstrap.min.js"></script>-->

    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/community.css">
    <script src="../static/js/bootstrap.min.js"></script>

</head>
<body>

<!--复用-->
<div th:insert="~{navigation :: nav}"></div>

<!--提交问题部分-->
<div class="container-fluid main" >
    <div class="row">
        <!--            页面左侧部分-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h3><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h3>
            <!--提交后 触发PublishController-->
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="请填入问题标题">
                </div>
                <div class="form-group">
                    <label for="description">问题补充，请参照提示</label>
                    <textarea name="description" id="description" class="form-control" th:text="${description}" rows="6"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="输入标签，以' , '分隔">
                </div>
                <!-- 展示错误信息  -->
                <div th:if="${error != null}" >
                    <div class="alert alert-danger"th:text="${error}"></div>
                </div>
                <button type="submit" class="btn btn-success btn-publish" data-dismiss="alert">发布</button>
            </form>
        </div>
        <!--页面右侧部分-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="height:500px;background-color: #d5e2b3;">
            <h3>问题发起指南</h3>
            <div>·问题标题：对问题进行简要描述</div>
            <div>·问题补充：详细补充问题的具体内容</div>
            <div>·选择标签：按问题的性质，填写对应的标签，以逗号隔开</div>
        </div>
    </div>
</div>
</body>
</html>